<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Detail</title>
</head>
<body>
    <h1>Options</h1>
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h2>{{ question.question_text }}</h2></legend>
            <P>Choose:</P>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for choice in question.choice_set.all %}
            <div class="m-3">
                <input type="radio" class="btn-check" autocomplete="off" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label class="btn btn-outline-primary" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            </div>
            {% endfor %}
        </fieldset>
        <input class="btn btn-primary btn-lg m-3" type="submit" value="Vote">
    </form>
</body>
</html>