<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Polls</title>
</head>
<body>
    <h1>Polls</h1>
    <div class="d-flex flex-column bd-highlight mb-3 card">
        {% if latest_question_list %}
        <ul class="list-group list-group-flush">
        {% for question in latest_question_list %}
        <li>
            <a class="list-group-item list-group-item-action d-flex gap-3 py-3" href="{% url 'polls:detail' question.id %}">
                <img src="https://cdn-icons-png.flaticon.com/512/339/339764.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                      <h2 class="mb-0">{{ question.question_text }}</h2>
                    </div>
                    <small class="opacity-50 text-nowrap">{{ question.date_published }}</small>
                  </div>
            </a>
        </li>
        {% endfor %}
        </ul>
        {% else %}
            <div class="p-2 bd-highlight"><p>No polls are available.</p></div>
        {% endif %}
    </div>
</body>
</html>